.footer{
  min-height: 1056px;
  background-color: $black;
}
.footer-first{
  padding: 100px;
}
.footer-second{
  margin-top: -85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  a{
    text-decoration: none;
    color: $white;
    font-size: 60px;
    font-family: $figure-font;
    margin-bottom: 15px;
    transition: all 0.2s linear;
    &:hover{
      color: $highlight;
    }
  }
}
.footer-third{
  color: $white;
}
.footer-bottom{
  padding-top: 25px;

  width: 95%;
  display: flex;
  margin-left: 2.5%;
  justify-content: space-between;
}