.header{
  min-height: 103vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 80px 0 120px;
  justify-content: space-between;
}
.header-first{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10%;
  cursor: default; 

  span{
  color: $white;
  transform: translateY(30px);
  }
}
.header-second{
  padding-left: 10%;
  cursor: default; 
}
.header-trird{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20%;
}
.header-circle{
  position: absolute;
  display: block;
  color: $white;
  font-family: $base-font;
  font-size: 14px;
  letter-spacing: 4px;
  padding: 180px 150px;
  top:15px;
  left: 5%;
  opacity: 0.8;
  border-radius: 50%;
  transition:all 0.3s ;
  border: 1px solid rgba($white, 0.4);
  a{
    line-height: 1.4; 
    text-decoration: none;
    color: $white;
    transition:all 0.3s ;
  }
  &:hover a{
    color: $highlight;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.082);
    border: none;
  }
}
.header-bottom{
  position: absolute;
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  bottom: 30px;
  justify-content: space-between;
}
.header-story{
  color: $white;
  font-size: 76px;
  font-family: $base-font;
  &:hover{
    text-decoration: none;
  }
}