.services {
  min-height: 2000px;

}

.services-content {
  min-height: 1000px;
  background-color: $black;
  color: $white;
  position: relative;
  &:hover .services-text{
    color: $white;
  }
}

.services-text {
  width: 25%;
  margin-left: 107px;
  padding-top: 170px;
  transition: all 2.5s;
}

.services-list {
  text-align: center;
  font-family: $figure-font;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  width: 100%;
  z-index: 44;
  a{
    text-decoration: none;
    color: $white;
    transition: all 0.2s linear;
    &:hover{
      color: $highlight;
    }
  }
}

.services-link-wrapper {
  display: flex;
  margin-top: 400px;
  justify-content: center;
}

.services-link {
  font-size: 14px;
  color: $highlight;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-bottom: 200px;

  &::after {
    position: absolute;
    bottom: -25px;
    left: 5px;
    content: '';
    display: block;
    width: 60px;
    height: 180px;
    background-image: url('../../img/home/arrdown.png');
    background-repeat: no-repeat;
    background-size: contain;

  }
}

.services-content-image {
  z-index: 1;
  position: absolute;
}

.services-content-image__1 {
  top: 0;
  right: 10%;
  transform: translateY(-50%);
}

.services-content-image__2 {
  top: 10%;
  right: 30%;
}

.services-content-image__3 {
  bottom: 20%;
  right: 0;
}

.services-content-image__4 {
  bottom: 0;
  right: 10%;
  transform: translateY(45%);
}

.services-content-image__5 {
  bottom: 0;
  left: 10%;
  transform: translateY(25%);
}

.services-video {
  min-height: 1080px;
  position: relative;
  background-image: url('../../img/home/servbg.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.services-video-description {
  padding-top: 880px;
  width: 20%;
  text-align: center;
  color: $white;
  font-family: $base-font;
  font-size: 14px;
  line-height: 1.8;
}

.services-video-btn {
  position: absolute;
  top: 50%;
  padding: 200px 180px;
  transform: translateY(-50%);
  border-radius: 50%;
  border:1px solid $black;
  transition: all 0.3s;
  &:hover{
    background-color: rgba(255, 255, 255, 0.082);
    border-color: transparent;
  }
  &:hover a{
    color: $highlight;
  }
  &:hover img{
    transform: scale(1.25);
  }
  
  a {
    transition: all 0.3s;
    margin-left: 10px;
    font-size: 18px;
    font-family: $base-font;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
  }
}